<?xml version="1.0"?>
<config>
    <modules>
        <Webtex_OnePageCheckout>
            <version>1.0.0</version>
        </Webtex_OnePageCheckout>
    </modules>
    <frontend>
        <routers>
            <onepagecheckout>
                <use>standard</use>
                <args>
                    <module>Webtex_OnePageCheckout</module>
                    <frontName>onepagecheckout</frontName>
                </args>
            </onepagecheckout>
        </routers>
        <layout>
            <updates>
                <onepagecheckout>
                    <file>onepagecheckout.xml</file>
                </onepagecheckout>
            </updates>
        </layout>
        <translate>
            <modules>
                <Webtex_OnePageCheckout>
                    <files>
                        <default>Webtex_OnePageCheckout.csv</default>
                    </files>
                </Webtex_OnePageCheckout>
            </modules>
        </translate>
    </frontend>
    <global>
        <models>
            <onepagecheckout>
                <class>Webtex_OnePageCheckout_Model</class>
                <resourceModel>onepagecheckout_mysql4</resourceModel>
            </onepagecheckout>
            <onepagecheckout_mysql4>
                <class>Webtex_OnePageCheckout_Model_Mysql4</class>
                <entities>
                    <customfields>
                        <table>onepage_customfields</table>
                    </customfields>
                    <order>
                        <table>onepage_customfields_order</table>
                    </order>
                </entities>
            </onepagecheckout_mysql4>
            <checkout>
                <rewrite>
                    <type_onepage>Webtex_OnePageCheckout_Model_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
            <core>
                <rewrite>
                    <layout>Webtex_OnePageCheckout_Model_Layout</layout>
                </rewrite>
            </core>
        </models>
        <resources>
            <onepagecheckout_setup>
                <setup>
                    <module>Webtex_OnePageCheckout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </onepagecheckout_setup>
        </resources>
        <helpers>
            <onepagecheckout>
                <class>Webtex_OnePageCheckout_Helper</class>
            </onepagecheckout>
        </helpers>
        <blocks>
            <onepagecheckout>
                <class>Webtex_OnePageCheckout_Block</class>
            </onepagecheckout>
            <rewrite>
                <checkout_onepage>Webtex_OnePageCheckout_Block_Onepage</checkout_onepage>
            </rewrite>
        </blocks>
    </global>
    <default>
        <onepagecheckout>
            <default>
                <enabled>1</enabled>
                <guestallow>1</guestallow>
                <cartenabled>1</cartenabled>
                <summary>1</summary>
            </default>
            <step_1>
                <steptitle>Welcome</steptitle>
                <nologin>1</nologin>
                <logincheckout>1</logincheckout>
            </step_1>
            <step_2>
                <steptitle>Shipping Information</steptitle>
                <addressbook>1</addressbook>
                <firstname>1</firstname>
                <lastname>1</lastname>
                <company>1</company>
                <address>1</address>
                <address1>1</address1>
                <city>1</city>
                <state>1</state>
                <zip>1</zip>
                <country>1</country>
                <telephone>1</telephone>
                <fax>1</fax>
                <save>1</save>
                <usebilling>1</usebilling>
                <shippingmethod>1</shippingmethod>
            </step_2>
            <step_3>
                <steptitle>Payment Information</steptitle>
                <paymentmethod>1</paymentmethod>
                <addressbook>1</addressbook>
                <firstname>1</firstname>
                <lastname>1</lastname>
                <company>1</company>
                <address>1</address>
                <address1>1</address1>
                <city>1</city>
                <state>1</state>
                <zip>1</zip>
                <country>1</country>
                <telephone>1</telephone>
                <fax>1</fax>
                <save>1</save>
                <useshipping>1</useshipping>
                <contacts>1</contacts>
            </step_3>
            <step_4>
                <steptitle>Rewiev Order</steptitle>
                <message><![CDATA[Please review the information you added above, and do any necessary corrections by clicking "EDIT" button.]]></message>
                <cancelmessage><![CDATA[Are you sure you want to leave the checkout process and return to the shopping cart? All the information you entered during checkout will be lost.]]></cancelmessage>
            </step_4>
            <step_5>
                <steptitle>Order Confirmation</steptitle>
            </step_5>
        </onepagecheckout>
    </default>
</config>
