/* Right Shopping Cart Total */
p.order-summary {margin-top: 30px;}
.shopping-cart-total-table {border: solid 1px #ccc; min-width: 300px; background: transparent !important;}
.shopping-cart-total-table th {text-align:right; padding-right: 10px;}
.shopping-cart-total-table td {text-align:right; padding-right: 5px;font-weight:bold;}
.shopping-cart-total-table tr.last th {border-top:  solid 1px #D9DDE3;border-bottom:  solid 0px #D9DDE3;padding-top: 20px;padding-bottom: 20px;text-transform: uppercase;font-weight:bold;background : transparent;}
.shopping-cart-total-table td.value .price {font-weight:bold; background : transparent;}
.shopping-cart-total-table tr.last td {border-top:  solid 1px #D9DDE3;padding-top : 20px;padding-bottom : 20px;}
#checkout-review-table.opc-data-table {padding-left:20px; padding-right:20px;}

.opc .section .input-text {width:248px !important;}
.opc .section .input-box  {width:238px !important;}
#opc-shipping .input-text {width:238px !important;}
.opc li .wide .input-box {width:470px !important;}
#opc-shipping .wide .input-text {width:500px !important;}
#opc-payment  .wide .input-text {width:500px !important;}
.opc .fields { width: 520px !important;}
.opc .field { width: 260px !important;}
.opc select { width: 245px !important;}

/* Credit Card */
.opc .sp-methods .input-box { width: 260px !important;}
.opc .sp-methods .month { width: 156px !important;}
.opc .sp-methods .year { width: 69px !important;}
.opc .sp-methods input.cvv { width: 30px !important;}
.opc .sp-methods select { width: 234px !important;}
.opc .sp-methods .input-text { width: 229px !important;}
.opc .sp-methods input.radio { float:left;}

.opc .section .hor-line {width:1px; height:170px; left:288px; background-color: #e4e4e4; position: absolute;}
.opc .section .hor-line-info {width:1px; height:50px; left:288px; background-color: #e4e4e4; position: absolute;}
.opc .order-info-box { border:0; padding: 0; margin: 0; background: none;}
.opc .order-info-box .box-title { text-transform: uppercase; }

.col-right .opc-data-table tr.last th, .opc-data-table tr.last td {border-bottom: 0 !important; border-right:0; padding:8px;}
.col-right .opc-data-table tr, .col-right .opc-data-table th, .col-right .opc-data-table td {border-bottom: 1px solid #ccc ; border-right:0; padding:8px;}
.col-right .opc-data-table .product-name {font-weight: bold;margin: 0 0 5px; color:#606060;}
.col-right .opc-data-table { border: solid 1px #ccc; width:100%; margin-top: 20px;}
.col-right .price {white-space:nowrap !important; font: 14px/18px Arial;}

.opc .opc-data-table {width:100%; border: solid 1px #ccc; border-top: 0px;}
.opc .opc-data-table tr.last th, .opc-data-table tr.last td {border-bottom: 0 !important; border-right:0; padding-top:20px; padding-bottom:20px;}
.opc .opc-data-table thead th { background: none; font-weight: bold; padding-top:5px; padding-bottom:5px;}
.opc-data-table a {font-weight: bold;}

.opc .allow .step-title a { display:block; color: #ed8400;}
.opc .active .step-title a { display:none; }

.opc .buttons-set { margin-top:0; padding-top:2em; }
.opc .buttons-set p.required { margin:0; padding:0 0 10px; }
.opc .buttons-set .back-link small { display:none; }
.opc .buttons-set .back-link a { background:url(../images/i_arrow-top.gif) 0 50% no-repeat; padding-left:16px; }
.opc .buttons-set.disabled button.button { display:none; }
.opc .buttons-set .please-wait { height:21px; line-height:21px; }
.opc .ul { list-style:disc outside; padding-left:18px; }

.opc { position:relative; }
.opc li.section {}

.opc .section {border-bottom: 5px solid transparent;}

.opc .step-title { border-top: 1px solid #fff ; background:#0a263c url(../images/bkg_opc-title-off.gif) 0 100% repeat-x; padding:4px 8px 6px; text-align:right; }
.opc .step-title .number { float:left; background:#0a263c; border:1px solid #0a263c; padding:0 4px; margin:0 5px 0 0; font:bold 13px/16px arial, helvetica, sans-serif; color:#999; }
.opc .step-title h2 { float:left; margin:0; font:bold 13px/16px Arial, Helvetica, sans-serif; color:#999; }
.opc .step-title a { display:none; float:right; font-size:11px; line-height:16px; }

.opc .allow .step-title {background:#0a263c; padding-bottom:5px; color:#fff; cursor:default; }
.opc .allow .step-title .number { background:#0a263c; border-color:#0a263c; color:#999; }
.opc .allow .step-title h2 { color:#999; }
/*.opc .allow .step-title a { display:block; }*/

.opc .active .step-title { background:#0a263c; color:#fff; cursor:default; }
.opc .active .step-title .number { background:#0a263c; border-color:#0a263c; color:#fff; }
.opc .active .step-title h2 { color:#fff; }
/*.opc .active .step-title a { display:none; }*/

.opc .step { border:1px solid #ccc; border-top:4px; background: transparent url(../images/bkg_checkout.gif) 0 0 repeat-x; padding:15px 30px; position:relative; }
.opc .step .tool-tip { right:30px; }

#opc-login .buttons-set { border-top:0; }
#opc-login h3 { font-size:13px; border-bottom:1px solid #e4e4e4; padding-bottom:2px; text-transform:uppercase; }
#opc-login h4 { font-size:1em; font-weight:bold; margin:0; color:#2f2f2f; }

#opc-shipping_method .buttons-set { border-top:0; }
.opc .gift-messages-form { margin:0 -30px; background:#f6f1eb; border:1px solid #e9e4de; border-width:1px 0; padding:22px 24px 22px 30px; }
.opc .gift-messages-form .inner-box { padding:5px; height:260px; overflow:auto; }

#opc-review .product-name { font-weight:bold; color:#0a263c; }
#opc-review .item-options { margin:5px 0 0; }
#opc-review .buttons-set { padding:20px 30px; border:1px solid #d9dde3; border-width:0 1px 1px; }
#opc-review .buttons-set p { margin:0; line-height:40px; }
#opc-review .buttons-set .please-wait { height:40px; line-height:40px; }
#opc-review .authentication { margin:0 auto; width:570px; }
#opc-review .warning-message { color:#222; font-weight:bold; text-align:center; padding:10px 10px 0; }

/* Loading popup */
#loading-mask {background: #FFF4E9;border: 2px solid #F1AF73;color: #D85909;font-weight: bold;left: 50%;margin-left: -60px;padding: 15px 60px;position: fixed;text-align: center;top: 45%;width: 120px;z-index: 1000;}
#loading-mask .loader {background: #FFF4E9;border: 2px solid #F1AF73;color: #D85909;font-weight: bold;left: 50%;margin-left: -60px;padding: 15px 60px;position: fixed;text-align: center;top: 45%;width: 120px;z-index: 1000;}
