.text-center{
	text-align: center !important;
}

.text-left{
	text-align: left !important;
}

.text-right{
	text-align: right !important;
}

#myintent_homepage_container{
	position: relative;
	z-index: 100;
	width: 80%;
}

#myintent_homepage_container.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#myintent_homepage_container img{
    display: block;
	margin-left: auto;
    margin-right: auto;
}

#enter_button_container{
	width: 35%;
}

#myintent_logo_container{ 
	width: 100%;
}

#social_icons_container{
	width: 80%;
}

#enter_button_container, #myintent_logo_container, #social_icons_container{
    margin-left: auto;
    margin-right: auto;
	margin-top: 60px;
	margin-bottom: 60px;
}

#social_icons_container{
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#social_icons_container .stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.social_icon{
    display: inline-block;
	width: 23%;
}

.social_icon img{
    display: block;
    width: 70%;
}

@media (min-width: 768px) {
	/* desktop version of homepage*/
	#myintent_homepage_container{
		width: auto;
	}

	#enter_button_container{
		width: 15%;
	}

	#myintent_logo_container{
		width: 80%;
	}
	
	#social_icons_container{
		width: 40%;
	}

	#enter_button_container, #myintent_logo_container, #social_icons_container{
		margin-top: 80px;
		margin-bottom: 80px;
	}
	
	#social_icons_container .stretch {
		width: 100%;
	}

	.social_icon{
		width: 25%;
	}

	.social_icon img{
		width: 70%;
	}
}

div.book {
	padding: 1em 0;
}

div.book .img-container{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	overflow-y: hidden;
}

div.book .book-info{
	width: 100%;
	height:auto;
	margin-left: auto;
	margin-right: auto;
}

div.book a.title {
	font-style: italic;
}

@media (max-width: 319px) {

}

@media (min-width: 320px) {
	div.book {
		padding: 1em 1em;
	}
	div.book .img-container{
		width: 85%;
	}

	div.book .book-info{
		width: 85%;
	}
}

@media (min-width: 480px) {
	div.book .img-container{
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1em;
		overflow-y: hidden;
	}

	div.book .book-info{
		width: 50%;
		height:auto;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 768px) {
	div.book {
		float: left;
		padding: 1em 1em;
		width: calc((100% - (3*2*1em))/3); /* to account for 1em padding on each side of a 2 book container */
		height: 34em;
	}

	div.book .img-container{
		width: 100%;
		height:24em;
	}

	div.book img{
		width: 100%;
		height:auto;
	}

	div.book .book-info{
		width: 100%;
	}
}

@media (min-width: 1025px) {
	div.book {
		width: calc((100% - (3*2*1em))/3); /* to account for 1em padding on each side of a 3 book container */
		height: 37em;
	}

	div.book .img-container{
		width: 100%;
		height: 27em;
	}
}

@media (min-width: 1100px) {
	div.book {
		width: calc((100% - (4*2*1em))/4); /* to account for 1em padding on each side of a 4 book container */
		height: 34em;
	}

	div.book .img-container{
		width: 100%;
		height:24em;
	}
}

.rtg-gallery {
	width: 100% !important;
}

.page-empty {
	padding: 0;
}

.rtg-images {
    left: 0; /* make thumbnails on home page to start on left side */
}

.rtg-images .overlay {
	position: absolute;
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ); 
	z-index: 10; 
	box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	transition: all 300ms ease-in-out; 
	-moz-transition: all 300ms ease-in-out; 
	-webkit-transition: all 300ms ease-in-out; 
	-o-transition: all 300ms ease-in-out; 
}

.rtg-images .overlay:hover, .rtg-images .active .overlay { 
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ); 
	border-right: 4px solid #2f3538; 
}

.no-hover{
	pointer-events: none !important;
}

h2.margintop{
	margin-top: 4em;
}

a.instagram-icon {
    background: url(../images/socialicons/instagram.png) no-repeat;
    background-position: 0 0;
}

a.pinterest-icon {
    background: url(../images/socialicons/pinterest.png) no-repeat;
    background-position: 0 0;
}

.lightbox-content {
	display: none;
}

#imageContainer {
	line-height: normal;	
}

.question_mark{
	height: 2.4%;
	width: 2.4%;
}

/* changing color of text within links */
a{
	color: #797872;
}

a:not(#mobnav):hover{
	color: #d64c35 !important;
}

/* removing lines between categories in the left hand menu (non-mobile menu button) */
#nav.menutype2 > li > a {
    border-bottom: 0px solid #DDD;
}		
		
/* input text boxes (and adjacent sibling div elements) - background color and borders */
input.input-text, .input-text  + div:not(.validation-advice) , textarea, select {
	background-color: #FFFFFF !important;
	border-color: #E8E8E8 !important;
}

/* changing color of price */
#opc-review .data-table tfoot td.last strong .price, #opc-review td.last .price, .cart .totals tfoot td .price, .cart-table td.sub-total, .top-cart .qty-price .price, .block .regular-price, .block .regular-price .price, .price-box .price, .special-price .price {
  color: #000000;
}

/* align content - same horizontal line */
.h-align {
	display: inline-block;
}

/* button backgrounds */
button.button span{
   	background: #2f3538 none repeat scroll 0% 0% !important;
}

button.button:hover span{
   	background: #686868 none repeat scroll 0% 0% !important;
}

/* expand the size of the main image on the product page */
div.image-aspect-control {
    padding-top: 100%; /* 1:1 aspect ratio */
}
div.product-view .product-img-box .product-image-zoom{
	width: auto;
	height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
div.more-views {
	position: relative;
	z-index: 5;
	margin-top: 10px;
}
	
@media only screen and (max-width: 1099px){
	/* keep discount and total boxes horizontally aligned */
	.cart-extra {
		width: 58%;	 
	}

	.cart .totals {
		float: right;
		width: 42%;
	}
}

@media only screen and (max-width: 767px) {
	/* removes the dark grey box just to the right of the three horizontal slashes to the right of the mobile menu button */
	.nav-container.expanded {
	  background: none;
	}
	
	/* remove the gap between the mobile "menu" button and 1) the right side of the page and 2) the list of categories that opens when menu is clicked */
	.nav-container ul#nav.menutype2 {
		top: 31px;
		right: 0;
		width: 250px;
	}
	
	/* keep discount and total boxes horizontally aligned */
	.cart-extra {
		width: 100%;	 
	}

	.cart .totals {
		width: 100%;
	}	
}

@media only screen and (max-width: 365px){

	/* widen discount box and input field*/
	.cart .discount .input-box {
		width: 100%;
	}
	
	.cart .discount input.input-text {
		width: 90%;
	}
	
	/* move discount button to the right */
	.cart .discount .buttons-set button.button, .cart .shipping .buttons-set button.button {
		float: right;
	}
}

@media only screen and (max-width: 345px){
	/* position continue shopping and checkout buttons on top of each other */
	.cart .totals .checkout-types li {
		float: none;
	}
}

@media only screen and (min-width: 768px){
	/* widen discount box and input field*/
	.cart-extra .akordeon {
		width: 82%;
	}

	.cart .discount input.input-text {
		width: 282px;
	}
}
	
@media only screen and (min-width: 1025px){
	/* Using customized arrows for menu bar */
	#nav.menutype2 span.plus {
		background: url(../images/expand-icon2.png) 10px 10px no-repeat;
	}
	
	#nav.menutype2 > li.level0:hover > span.plus {
		background-color: transparent;
	}
	
	#nav.menutype2 li.expanded span.plus {
		background: url(../images/expand-icon2.png) 10px -40px no-repeat;
	}
	
	#nav.menutype2 > li.level0 > span.plus {
		top: 3px;
	}
	
	/* background for the left hand menu */
	.header .header-sidebar {
		background: url(../images/left-side-bg.png) repeat-y;
	}

	/* widen discount box and input field*/
	.cart-extra .akordeon {
		width: 77%;
	}

	.cart .discount input.input-text {
		width: 285px;
	}
	
	.product-view .product-img-box .more-views li {
		margin: 0 0 8px 10px;
	}
}

@media only screen and (min-width: 1100px){

	/* widen discount box and input field*/
	.cart-extra .akordeon {
		width: 68%;
	}

	.cart .discount input.input-text {
		width: 275px;
	}
}

.nav-container.expanded a#mobnav {
	background: url(../images/mobnav-hover-icon.png) right 6px no-repeat;
	color: #4e4d49;
}

/* remove line underneath "More Views" in product details page */
.product-view .product-img-box .more-views h2 {
  border-bottom: 0 solid #ccc;
}

/* remove top padding to footer */
.footer-container {
  padding: 0 10px 24px;
}  

/* remove bottom line after product description */
.akordeon {
  border-bottom: 0px solid #d9d9d9 !important; 
}

/* left align elements */
.product-shop dt{
	margin-top: 0;
	margin-bottom: 5px;
}

.product-shop dd{
	margin: 0 0 10px 0;
}

.product-options dl.last dd.last {
	margin: 0 0 10px 0;
}

.product-options dd select {
	padding: 6px;
	width: 100%;
}

.product-options dd input.input-text, .product-options dd textarea {
	padding: 6px;
	width: calc(100% - 14px)
}

/* changing text color in menu categories/subcategories (full screen only) */
#nav a {
	color: #000000 !important;
}

#nav ul li a {
	color: #000000 !important;
}

#nav ul li a:hover, #nav ul li a.active{
	color: #D64C35 !important;
}

/* remove background and border while hovering over subcategories in menu */
#nav.menutype2 ul.level1 li > a:hover, #nav.menutype2 ul.level1 li.over > a {
  border-right: 0;
  background: none;
}

/* Change color of "active" category in menu */
#nav a.active {
	color: #D64C35 !important;
}

/* Capitalize every letter in "Your Word" fields */
.validate-myintent-chars{
	text-transform:uppercase
}

/* lowercase words that are in parenthesis within field labels */
.product-options dt label  span.paren{
  text-transform: lowercase;
}

/* remove padding around the discount code box on shopping page so the top lines up with the total box */
.akordeon-item-content {
    padding: 0 !important;
}

/* buttons in the shopping cart page */
button.button span {
    background: #225E7C none repeat scroll 0% 0% !important;
}

button.button span:hover {
    background: #2F3538 none repeat scroll 0% 0% !important;
}

/* white background for header row of product table on the shopping cart page */
.data-table thead th {
    background: white none repeat scroll 0% 0%;
}

/* adjust padding in product box in list view on category page since "Add to Cart" button as removed */
ol.products-list li.item {
	padding: 12px 10px;
}

/* remove border in product box in list view on category page */
ol.products-list li.item div.links-set {
    border-top: 0;
}

/* Log in button in header */
div.quick-access .links {
	display: block;
	float: left;
	margin: 0;
	margin-left: 20px;
}
  
div.quick-access .links li {
	background: none;
}

div.quick-access .links li a{
	color: #6d6c67;
	font-size: 12px;
	font-weight: 400;
	font-family: Verdana;
	line-height: 24px;
}

/* Checkout UI customization */

.opc-wrapper-opc h3 {
	background-color: #2f3538;
	color: white !important;
	padding: 8px;
}

.opc-wrapper-opc form{
	display: block;
}

.opc-wrapper-opc .opc-col-left {
	padding-right: 5px;
    width: 33% !important;
}

.opc-wrapper-opc .opc-col-middle {
	padding-right: 5px;
	padding-left: 10px;
    width: 33% !important;
}

.opc-wrapper-opc .opc-col-right{
	padding-left: 5px;
    width: 34% !important;
}

#opc-address-form-billing .form-list li {
    margin: 5px 0;
}

#opc-address-form-shipping {
    margin-top: 15px;
}

#billing-new-address-form, #shipping-new-address-form {
	margin-top: 0;
	margin-bottom: 0;
}

#billing-new-address-form li, #shipping-new-address-form  li{
    margin: 5px 0;
}

#billing-new-address-form li.no-display {
	position: absolute;
}

#billing-new-address-form li:first-child, #shipping-new-address-form li:first-child, #co-payment-form li:first-child{
    margin-top: 0;
}

.opc-wrapper-opc .shipping-block , .opc-wrapper-opc .payment-block  {
    margin-bottom: 15px !important;
}

/* payment block */
#co-payment-form  li {
    margin: 10px 0;
}

#ccsave_cc_owner, #ccsave_cc_number, #ccsave_cc_cid {
    padding-top: 0 !important;
	padding-bottom: 0 !important;
}

#ccv_container{
	width: 28.5%;
}

/* discount block */
.opc-wrapper-opc .discount-block .discount {
    margin-top: 0 !important;
}

.opc-wrapper-opc .discount-block h3 {
    margin-bottom: 26px !important;
	border-bottom: 1px solid #b6b6b6 !important;
	padding: 8px !important;
	width: 100%;
}

.opc-wrapper-opc .discount-block .discount {
    margin-top: 0;
}

.opc-wrapper-opc .payment-block dt:first-child {
    margin: 0 !important;
}

/* order review table */
.opc-wrapper-opc  #opc-review-block{
	position: static !important;
	top: auto !important;
	right: auto !important;
	z-index: auto !important;
	width: 100% !important;
	background-color: transparent !important;
	border-radius: 0 !important;
	border: 0 solid #dadada !important;
	box-shadow: 0 0 0 0 #dadada !important;
	padding: 0 !important;
}

.opc-wrapper-opc #opc-review-block h3.review-title {
    padding: 8px !important;
}

.opc-wrapper-opc #checkout-review-table-wrapper {
    max-height: none !important;
    overflow-y: visible !important;
    padding-right: 0 !important;
}

.opc-wrapper-opc #checkout-review-table thead th {
	padding: 0 10px !important;
}

.opc-wrapper-opc #checkout-review-table  thead th:first-child, .opc-wrapper-opc #checkout-review-table thead th:last-child {
	padding: 0 !important;
}

.opc-wrapper-opc .opc-data-table tbody td {
    padding-left: 0 !important;
	padding-right: 0 !important;
}

/* product image */
.opc-wrapper-opc #checkout-review-table .product-image {
    display: inline-block;
    max-width: 80px;
	float: left;
}

/* "Grand Total" */
.opc-wrapper-opc .opc-data-table tfoot tr.last {
    display: table-row !important;
}

/* Checkout buttons */
.opc-wrapper-opc .opc-login-trigger, .opc-wrapper-opc .opc-login-trigger:hover{
	height: auto !important;
	width: auto !important;
}

.opc-wrapper-opc .discount-block .apply-coupon {
    float: right !important;
}	

.opc-wrapper-opc .discount-block .button {
    height: auto !important;
}

.opc-wrapper-opc .discount-block .button span {
    height: 36px !important;
}

.opc-wrapper-opc .discount-block .button span span{	
	font-size: 12px !important;
    font-weight: normal !important;
    border-radius: 0;
    height: 36px;
    line-height: 36px;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
}

.opc-wrapper-opc .btn-checkout span span {
    font-size: 12px !important;
    font-weight: normal !important;
	border-radius: 0;
}

#checkout-review-table .product-name{
	text-align: left;
}

/* Checkout Login modal*/

.md-show.md-effect-7 .md-content {
    background-color: #f1f1f1;
}

.md-modal-header {
	background-color: #2f3538;
}

.md-modal-header h4{
	color: white !important;
}

.fa-remove::before, #modal-login .fa-close::before, #modal-login .fa-times::before {
    color: white;
}

#login-form .form-list{
	margin-top: 15px;
}

#login-form li {
    margin: 5px 0;
}

#login-form .form-list .input-text{
    padding-top: 0 !important;
	padding-bottom: 0 !important;
}