.myintent_header {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1030;
	background-color: #f1f1f1;
	text-align: center;
}

div.book {
	padding: 1em 0;
}

div.book .img-container{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	overflow-y: hidden;
}

div.book .book-info{
	width: 100%;
	height:auto;
	margin-left: auto;
	margin-right: auto;
}

div.book a.title {
	font-style: italic;
}

@media (max-width: 319px) {
	.myintent_header a {
		font-size: 1.5em;
	}

	.tile-container {
		position: relative;
		top: 2.5em;
	}
}

@media (min-width: 320px) {
	.myintent_header a {
		font-size: 2.0em;
	}

	.tile-container {
		position: relative;
		top: 3.5em;
	}

	div.book {
		padding: 1em 1em;
	}
	div.book .img-container{
		width: 85%;
	}

	div.book .book-info{
		width: 85%;
	}
}

@media (min-width: 480px) {
	.myintent_header a {
		font-size: 3.0em;
	}

	.tile-container {
		position: relative;
		top: 5.0em;
	}

	div.book .img-container{
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1em;
		overflow-y: hidden;
	}

	div.book .book-info{
		width: 50%;
		height:auto;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 768px) {
	.myintent_header a {
		font-size: 4.0em;
	}

	.tile-container {
		position: relative;
		top: 6.5em;
	}

	div.book {
		float: left;
		padding: 1em 1em;
		width: calc((100% - (3*2*1em))/3); /* to account for 1em padding on each side of a 2 book container */
		height: 34em;
	}

	div.book .img-container{
		width: 100%;
		height:24em;
	}

	div.book img{
		width: 100%;
		height:auto;
	}

	div.book .book-info{
		width: 100%;
	}
}

@media (min-width: 1025px) {
	div.book {
		width: calc((100% - (3*2*1em))/3); /* to account for 1em padding on each side of a 3 book container */
		height: 37em;
	}

	div.book .img-container{
		width: 100%;
		height: 27em;
	}
}

@media (min-width: 1100px) {
	.myintent_header a {
		font-size: 5.0em;
	}

	.tile-container {
		position: relative;
		top: 8.0em;
	}

	div.book {
		width: calc((100% - (4*2*1em))/4); /* to account for 1em padding on each side of a 4 book container */
		height: 34em;
	}

	div.book .img-container{
		width: 100%;
		height:24em;
	}
}

.rtg-gallery {
	width: 100% !important;
}

.page-empty {
	padding: 0;
}

.rtg-images .overlay { 
	position: absolute; 
	background: none; 
	z-index: 10; 
	box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	transition: all 300ms ease-in-out; 
	-moz-transition: all 300ms ease-in-out; 
	-webkit-transition: all 300ms ease-in-out; 
	-o-transition: all 300ms ease-in-out; 
}

.rtg-images .overlay:hover, .rtg-images .active .overlay { 
/*	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/overlay.png);  */
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ); 
	border-right: 4px solid #2f3538; 
}

h2.margintop{
	margin-top: 4em;
}

a.instagram-icon {
    background: url(../images/socialicons/instagram.png) no-repeat;
    background-position: 0 0;
}

a.pinterest-icon {
    background: url(../images/socialicons/pinterest.png) no-repeat;
    background-position: 0 0;
}

.lightbox-content {
	display: none;
}

#imageContainer {
	line-height: normal;	
}

.question_mark{
	height: 3%;
	width: 3%;
}

/* changing color of text within links */
a{
	color: #797872;
}

a:not(#mobnav):hover{
	color: #d64c35 !important;
}

/* removing lines between categories in the left hand menu (non-mobile menu button) */
#nav.menutype2 > li > a {
    border-bottom: 0px solid #DDD;
}
	
/* input text boxes (and adjacent sibling div elements) - background color and borders */
input.input-text, .input-text  + div , textarea, select {
	background-color: #FFFFFF !important;
	border-color: #E8E8E8 !important;
}

/* changing color of price */
#opc-review .data-table tfoot td.last strong .price, #opc-review td.last .price, .cart .totals tfoot td .price, .cart-table td.sub-total, .top-cart .qty-price .price, .block .regular-price, .block .regular-price .price, .price-box .price, .special-price .price {
  color: #000000;
}

/* align content - same horizontal line */
.h-align {
	display: inline-block;
}

/* button backgrounds */
button.button span{
   	background: #2f3538 none repeat scroll 0% 0% !important;
}

button.button:hover span{
   	background: #686868 none repeat scroll 0% 0% !important;
}

/* remove the gap between the mobile "menu" button and 1) the right side of the page and 2) the list of categories that opens when menu is clicked */
@media (max-width: 767px) {
	.nav-container ul#nav.menutype2 {
		top: 31px;
		right: 0;
		width: 250px;
	}	
}

.nav-container.expanded a#mobnav {
  background: none;
  background-color: #FFFFFF;
  color: #4e4d49;
}

/* remove line underneath "More Views" in product details page */
.product-view .product-img-box .more-views h2 {
  border-bottom: 0 solid #ccc;
}

/* remove top padding to footer */
.footer-container {
  padding: 0 10px 24px;
}  

/* remove bottom line after product description */
.akordeon {
  border-bottom: 0px solid #d9d9d9 !important; 
}

/* left align elements */
.product-shop dt{
	margin-top: 0;
	margin-bottom: 5px;
}

.product-shop dd{
	margin: 0 0 10px 0;
}

.product-options dl.last dd.last {
	margin: 0 0 10px 0;
}

.product-options dd select {
	padding: 6px;
	width: 100%;
}

.product-options dd input.input-text, .product-options dd textarea {
	padding: 6px;
	width: calc(100% - 14px)
}

/* changing text color of menu categories (full screen only) */
#nav a {
	color: #797872;
}

#nav a:hover, #nav a.active {
	color: #2F3538 !important;
}

/* Remove "My Wishlist from footer */
.footer-menu  a[title="My Wishlist"]{
	display: none;
}

/* Remove extra "Forgot Your Password"  link when user is checking out on mobile */
//.buttons-set.for-mobile a.f-right {
//	display: none;
//}

