<?xml version="1.0" ?>
<config>
    <modules>
        <Myintent_Checkout>
            <version>0.0.1</version>
        </Myintent_Checkout>
    </modules>
    <global>
        <blocks>
            <checkout>
                <rewrite>
                    <onepage>Myintent_Checkout_Block_Onepage</onepage>
                    <onepage_shipping>Myintent_Checkout_Block_Onepage_Shipping</onepage_shipping>
                    <onepage_billing>Myintent_Checkout_Block_Onepage_Billing</onepage_billing>
                </rewrite>
            </checkout>
        </blocks>
    </global>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Myintent_Checkout before="Mage_Checkout">Myintent_Checkout</Myintent_Checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
</config>